<p id="notice"><%= notice %></p>

<h1>User Achievement</h1>

<p>
  <strong>User:</strong>
  <%= User.find(@user_achievement.user_id).name %>
</p>

<p>
  <strong>Achievement:</strong>
  <blockquote>
	  <% @achievement = Achievement.find(@user_achievement.achievement_id) %>
	  <p>Title: <%= @achievement.title %></p>
	  <p>Description: <%= @achievement.description%></p>
	  <p>Phrase: <i>"<%= @achievement.phrase %>"</i></p>
  </blockquote>
  
</p>

<%= link_to 'Edit', edit_user_achievement_path(@user_achievement) %> |
<%= link_to 'Back', user_achievements_path %>
