<%= form_with(model: achievement, local: true) do |form| %>
  <% if achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(achievement.errors.count, "error") %> prohibited this achievement from being saved:</h2>

      <ul>
      <% achievement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :achievement_title %>
  </div>

  <div class="field">
    <%= form.label :phrase %>
    <%= form.text_area :phrase, id: :achievement_phrase %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :achievement_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
